* text=auto

*.cpp linguist-language=C++
*.h   linguist-language=C++
*.hpp linguist-language=C++

external/* linguist-vendored
vendor/* linguist-vendored
libs/* linguist-vendored
docs/* linguist-documentation
scripts/* linguist-vendored

*.exe binary
*.dll binary
*.so  binary
*.png binary
*.jpg binary
*.pdf binary